body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.519),rgba(0, 0, 0, 0.519)),url(../images/bg-dark.jpg);
    height: auto ;
    background-size: cover;

}
nav{
  background-color: rgba(247, 242, 242, 0.976);
}
ul li  {
  position: relative;
}
ul li a::after{
  content: "";
  position: absolute;
  width:0%;
  height: 2px;
  background-color: red;
  bottom: 0;
  left: 21px;
  transition: all 0.5s;
}
ul li a:hover::after{
  width:55%;
}
.cit-icon{
    font-size: 30px;
}

.country{
    font-size: 30px;
 
}

.fot-icon{
    font-size: medium;
    color: gray;
}

.header{
    border-bottom: 1px rgb(135, 123, 123) solid;
    margin-bottom: 20px;
}
#location-input{
    background-color: #c4c6d4;
    color: rgb(0, 0, 0);
}
#find-btn{
    top: 4px;
    right: 4px;
    padding: 12px;

}


.footer{
  border-top: 1px solid rgb(145, 132, 132);
  
}
::-webkit-input-placeholder
{
    color: #000000 !important;
    font-size: large;
}
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
   
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #000000 #0b0908;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

.form-dd{
  display: flex;
  justify-content: center;
  align-items: center;
}

  .form{
    width: 75%;

  }

  
  @media (max-width:767px){
    .form{
      width: 100%;
      margin-bottom: 20px;
      
    }
    .form-dd{
      display: block;
     
    }
  }
  .model{
    background-color: rgba(0, 0, 0, 0.519);
  }
      


  .box-item i{
    top: 14px;
    left: 420px;
    font-size: 20px
  }